div{
    width: 200px;
    height: 200px;
    background-color: crimson;
    color: white;
    border: 5px dashed black;
    border-radius: 5%;
    padding: 20px;
    /* display: none; */
    /* display: block; takes up entire width */
    display: inline-block; only takes up the space that it needs
    text-decoration: dashed;
}

body{
    background-image: url("https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/6430.png");
    /* z-index: 1; */
}
